

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
    <style>

    </style>
</head>
<body >
	<div class="main">
            <h1> Insta Clone</h1>
        <h2>{{today}}</h2>
    </div>

    <div class="area">
        <form method="POST">
            {% csrf_token %}
            <div >
                <input id="username" type="text" placeholder="Username" name="username" value={{ username }}>
            </div><br>

            <div>
                <input id="name" type="text" placeholder="Enter your Name" name="name" value={{ name }}>
            </div><br>

            <div>
                <input id="email" type="text" placeholder="Enter your Email ID" name="email" value={{ email }}>
            </div><br>

            <div>
                <input id="password" type="password" placeholder="Enter Password" name="password" value={{ password }}>
            </div><br>
            <div>
                <input type="submit" value="Sign Up">
            </div>
        </form>


    </div><br><br>

    <div class="forlogin"><h3>Already a user?</h3><a href="login/"><input type="submit" value="Login"></a> </div>
</body>
</html>